
.container-fluid {
    margin-top: 15px; 
}
.logo {
    max-height: 100%; /* Sesuaikan dengan tinggi yang diinginkan */
    max-width: 100%; /* Lebar akan menyesuaikan otomatis */
    display: block;
}
