body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-image: url('assets/photo/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 25px 0;
    opacity: 0.8;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 70px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.5s;
}

.menu a:hover {
    color: #ff4d00;
}
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.featured-games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.class container{
    margin-top: 250px;
}
.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border: 1%;
}
.btn1,.btn2{
    color: #3498db;
}
.btn3,.btn4{
    color: #fff;
}
.btn1:hover,.btn2:hover{
    color: #fff;
}
.btn3:hover,.btn4:hover{
    color: #3498db;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
<<<<<<< Updated upstream

.post-content h3{
    font-size: 16px;
    margin-bottom: 0;
=======
.btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
>>>>>>> Stashed changes
}
.btn3::before,.btn4::before{
    height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
    height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
    height: 0;
}
<<<<<<< Updated upstream

@media screen and (max-width: 1200px){
    .blog-posts{
        justify-content: center;
    }
    .post{
        width: min(600px, 100%);
    }
}
.row:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

=======
h1{
    margin-left: 150px;
}
.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.box hover input{
    width: 200px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a .fas{
    color: #1daf;
    font-size: 18px;
}
.profile {
 border: 2px solid #ccc;
  border-radius: 50%;
 width: 100px;
 height: 100px;
transition: transform 0.3s;
 }
.profile:hover {
 transform: scale(1.1);
 }

